# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Flask stuff:
instance/
.webassets-cache

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache
.idea

mongo/db
mysql/db


# Java Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.class
**/target/
/target/
*/target/*
.classpath
.project
.settings